{%extends "users/layout.html"%} {%block body%} {%if message%}
<div style="color:red">{{message }}</div>
{%endif%}
<form action="{%url 'users:login'%}" method="post">
  {%csrf_token%}
  <input id = "username" type="text" name="username" placeholder="Username" />
  <input id="password" type="password" name="password" placeholder="Password" />
  <input id="login" type="submit" value="Login" />
</form>
<h4>Don't have an account ?</h4>
<a href='{%url 'users:signup'%}'>Signup</a>

<h4 style="color:red">Disclaimer: Do not enter any sensitive information to add to the list</h4>
{%endblock%}
